.button{
  border: 0;
  display: block;
  width: 100%;
  font-family: Rubik, sans-serif;
  font-size: 30px;
  cursor: pointer;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  7px 7px 15px #bebebe,
  -7px -7px 15px #ffffff;
  padding: 10px 40px;
  text-align: center;
  transition: .3s all;
  &:hover{
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  7px 7px 15px #bebebe,
    -7px -7px 15px #ffffff;
  }
}
